html, body {
    height: 100vh;
    color: red;
    text-align: center;
}
.section{
    height: 5vh;
    display: flex;
}    
.section h1 {
    height: 5vh;
}
.container {
    height: 90vh;
}
button {
    background-color: red;
    color: white;
    border-style: none;
    padding: 5px 10px;
    margin: 10px;
}